body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header,
.hero,
.footer {
    padding: 25px 250px;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}

.header .nav {
    flex: 1;
}

.header a {
    color: #E5E7EB;
}

.header ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    flex: 1;
}

.hero {
    padding: 100px 250px;
    display: flex;
    gap: 10px;
}

.hero .text {
    flex: 1;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.button.primary {
    border-radius: 10px;
    background-color: #3882F6;
    border-width: 1px;
    font-weight: bold;
    color: #E5E7EB;
    padding: 10px 25px;
}

.hero .image {
    width: 50%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p {
    margin: auto;
}

.information {
    margin-bottom: 150px;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.container .item {
    width: 200px;
}

.item .box {
    border: 2px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    margin: auto;
}

.item .text {
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 400px;
}

.quote blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
}

.quote p {
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin: 0 100px 0 0;
}

.cta {
    padding: 100px 250px;
}

.cta .container {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 48px 150px;
    align-items: center;
}

.cta .text {
    /* padding: 48px 0; */
    flex: 1 1 auto;
}

.cta .text h2 {
    margin: 0;
    color: #F9FAF8;
}

.cta .text p {
    margin: 0;
    color: #E5E7EB;
}

.cta .button.primary {
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
}

.copyright {
    margin: auto;
}